.search {
  float: right;
  margin-right: 10%;
}

.buscador {
  margin-top: 4%;
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
}

.buscador:hover {
  background-color: #e3e4e5;
  border: none;
}
