.addRecipe {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-left: 35%;
  margin-right: 35%;
  font-weight: bold;
  text-transform: uppercase;
  color: #ff4720;
  border-radius: 20px;
  background-image: url("https://thumbs.dreamstime.com/z/coj%C3%ADn-vac%C3%ADo-para-una-lista-de-ingredientes-en-la-tabla-madera-blanca-116148444.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.formulario h2 {
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
  text-shadow: 2px 2px black;
}

.formulario div {
  margin: 8px;
}

.formulario ul {
  text-align: center;
}

.addbutton {
  display: flex;
  justify-content: center;
}

.inputs {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  border-color: #ff4720;
  background-color: transparent;
}

.inputs:hover {
  background-color: #edf0f3;
}

.form_inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textarea {
  width: 300px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
  border-color: #ff4720;
  background-color: transparent;
}

.textarea:hover {
  background-color: #edf0f3;
}

.add_button {
  color: white;
  background-color: #ff4720;
  transition: 0.4s ease all;
}

.add_button:hover {
  background-color: white;
  color: #ff4720;
  transition: 0.4s ease all;
}

.dietasSeleccion label {
  cursor: pointer;
  padding: auto;
  border: #ff4720;
}

.dieta1 {
  color: #ff4720;
}

.dieta2 {
  color: black;
}

.dieta2:hover {
  color: #ff4720;
}

label {
  text-shadow: 1px 1px black;
  font-size: 1.3rem;
  font-weight: bold;
}
