.favorites {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
  text-transform: uppercase;
  margin-right: 15%;
  margin-left: 15%;
}

button {
  margin: 4px;
  border-radius: 10px;
  height: 35px;
  border: none;
  background-color: transparent;
  color: #ff4720;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

button:hover {
  color: white;
  background-color: #ff4720;
  transition: 0.4s ease all;
}

.volver {
  margin-left: 48%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.5));
}

.favorites h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  text-decoration: none;
  color: #000000;
}
.links:hover {
  color: #ff4720;
}

.opciones {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
