.NavBar {
  margin: 0.5%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px -1px 13px 2px rgba(0, 0, 0, 0.8);
}

.logo {
  background-position: center;
  background-image: url("https://www.recetasnestle.com.co/sites/default/files/2021-03/image2-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  width: 100%;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.8));
}

.menu {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rutas {
  margin-left: 28%;
}

.rutas button {
  margin: 4px;
  height: 55px;
  border: none;
  color: #ff4720;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.rutas button:hover {
  color: white;
  background-color: #ff4720;
}
